{% load static %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}按摩椅銷售網站{% endblock %}</title> 
    <!--手動新增bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <a class="navbar-brand" href="{% url 'ShopWeb/index' %}"> 
            <img src="{% static 'images/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""> 
            銷售網站
        </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 

        <div class="collapse navbar-collapse" id="navbarNav"> 
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item {% block home_active %}{% endblock %}"> 
                    <a class="nav-link" href="{% url 'ShopWeb/index' %}">Home</a> 
                </li> 
                {% if user.is_authenticated %} 
                <li class="nav-item {% block menu_active %}{% endblock %}"> 
                    <a class="nav-link" href="{% url 'ShopWeb/order' %}">Orders</a> 
                </li> 
                <li class="nav-item {% block cart_active %}{% endblock %}"> 
                    <a class="nav-link" href="{% url 'ShopWeb/warranty' %}">Warranty</a> 
                </li> 
                {% endif %} 
            </ul> 

            <ul class="navbar-nav"> 
                {% if user.is_authenticated %} 
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Welcome, {{ user.username }} 
                    </a> 
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'SalesApp/index' %}">SalesApp</a>
                        {% else %} 
                        <a class="dropdown-item" href="{% url 'ShopWeb/edit_profile' %}">Edit Profile</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'ShopWeb/referral_code' %}">Referral_Code</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'ShopWeb/logout' %}">Logout</a> 
                    </div> 
                </li> 
                {% else %} 
                <li class="nav-item {% block login_active %}{% endblock %}"> 
                    <a class="nav-link" href="{% url 'ShopWeb/login' %}">Login</a> 
                </li> 
                <li class="nav-item {% block register_active %}{% endblock %}"> 
                    <a class="nav-link" href="{% url 'ShopWeb/register' %}">Register</a> 
                </li> 
                {% endif %} 
            </ul> 
        </div> 
    </nav> 
    
    <div class="container">
        {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% block content %} 
        {% endblock %} 
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body> 
</html>