{% extends 'ShopWeb/base.html' %}
{% load custom_filters %} 
{% block content %}

<div class="container my-5">
  <h2 class="text-center mb-5">保固資料</h2>
  
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      {% if records %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">訂單ID</th>
              <th scope="col">商品名稱</th>
              <th scope="col">銷售時間</th>
              <th scope="col">保固</th>
              <th scope="col">保固截止</th>
              <th scope="col">保固服務</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
            <tr>
              <th scope="row">{{ record.sales_record_id }}</th>
              <td>{{ record.product.product_name }}</td>
              <td>{{ record.sales_time|date:"Y年n月j日 H:i" }}</td>
              <td>{{ record.product.product_warranty|yesno:"有,無" }}</td>
              {% if record.product.product_warranty == True %}
              <td>{{ record.sales_time|add_years:1|date:"Y年n月j日" }}</td>
              {% else %}
              <td>NULL</td>
              {% endif %}
              
              {% if record.product.product_warranty == True %}

                {% if record.product|warranty_check:record.sales_time == True %}
                  <td><a href="#">{{ record.salesperson.salesperson_name }}</a></td>
                {% else %}
                  <td>保固已過期</td>
                {% endif %}

              {% else %}
                <td>無保固</td>
              {% endif %}

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="text-center">目前沒有訂單資訊。</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}