{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bootstrap stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Include jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'SalesApp/index' %}">業務員App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% block active %} {% endblock %}">
                    <a class="nav-link" href="{% url 'SalesApp/index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SalesApp/sales_sell' %}">實體售出</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SalesApp/sales_record' %}">銷售紀錄</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SalesApp/actions' %}">行動</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'SalesApp/logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'SalesApp/login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container my-4">
        {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <!-- Include the Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>