{% extends 'SalesApp/base.html' %}

{% block content %}

<div class="container my-5">
  <h2 class="text-center mb-5">顧客 {{ customer.username }} 詳細資料</h2>
  
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">商品型號</th>
              <th scope="col">商品名稱</th>
              <th scope="col">商品瀏覽次數</th>
              <th scope="col">是否已買過?</th>
            </tr>
          </thead>
          <tbody>
            {% for product in top_products %}
            <tr>
              <th scope="row">{{ product.product_model }}</th>
              <td>{{ product.product_name }}</td>
              <td>{{ product.view_counts }}</td>
              <td>{{ product.bought|yesno }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      顧客資料
      {{ customer.customer_name }}
      {{ customer.customer_phone }}
      {{ customer.customer_customer_gender }}

    </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}