{% extends 'SalesApp/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <h2 class="mt-4">售出</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="customer">客戶:</label>
      {{ form.customer }}
    </div>
    <div class="form-group">
      <label for="product">產品:</label>
      {{ form.product }}
    </div>
    <div class="form-group">
      <label for="sales_price">銷售價格:</label>
      {{ form.sales_price }}
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}